@import "../../shared/variables.scss";
@import "../../shared/login_standard.scss";

.dabubbleLogo {
    position: absolute;
    top: 25px;
    left: 25px;
}

.forgotPasswordContent {
    @include login_standard_container;
}

.forgotPasswordContainer {
    @include flex_column_center;
    background-color: #eceefe;
}

.mailImg {
    height: 13px;
    top: 21px;
}

.nextBtn {
    @include button;
    @include button_primary;
    @include button_hover;
    margin-left: auto;
    padding: 15px 25px !important;
}

button:disabled {
    background-color: grey;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: grey;
    cursor: not-allowed;
}

.notification {
    @include font(20px, 400, 24px);
}

.success {
    color: #444df2;
}

.warning {
    color: red;
}

.loginContainerLinks {
    @include flex_center;
    gap: 50px;

    a {
        padding: 10px 20px;
    }
}

.loginLinks {
    @include login_link;
    text-align: center;
    line-height: 24.5px !important;
}

@media (max-width: 600px) {

    .forgotPasswordContent {
        gap: 50px;
    }

    .dabubbleLogo {
        position: unset;
        height: 65px;
    }
}

@media (max-width: 400px) and (max-height: 700px) {
    .loginContent {
        height: unset;
    }
}

@media(max-height: 500px) {
    .forgotPasswordContent {
        height: unset;
        gap: 10px;
    }
}