<div class="forgotPasswordContent">

    <div class="mainLogoContainer">
        <img class="mainLogo" src="assets/img/logo_animation.svg">
    </div>


    <!-- Forgot-password form container -->
    <div class="forgotPasswordContainer">
        <form [formGroup]="sendMailForm" (ngSubmit)="onSubmit()">
            <div class="loginHeadline">
                <div class="goBackIcon" routerLink="/login" title="Return to login"></div>
                <h1>Reset password</h1>
            </div>

            <span class="formHeaderText">Please enter your email.</span>
            <div class="inputContainer">
                <img class="mailImg" src="assets/img/icons/mail_icon.svg" alt="Email icon">
                <input type="email" placeholder="examplename@email.com" formControlName="email"
                    (blur)="onBlur('email')">
                <div *ngIf="shouldShowError('email')">
                    <div *ngIf="sendMailForm.get('email')?.hasError('required')" class="notification warning">
                        Email is required.
                    </div>
                    <div *ngIf="sendMailForm.get('email')?.hasError('email')" class="notification warning">
                        Please include an '@' and a domain (e.g., '.com') in the email address.
                    </div>
                </div>
            </div>

            <div *ngIf="emailSent" class="notification success">
                Email sent! Please check your Emails.
            </div>
            <div *ngIf="emailSendFailed" class="notification warning">
                Email could not be sent. Please check the email address and try again.
            </div>
            <button class="nextBtn" type="submit" [disabled]="!sendMailForm.valid">Send Email</button>
        </form>
        <div class="loginContainerLinks">
            <a class="loginLinks" routerLink="/imprint">Imprint</a>
            <a class="loginLinks" routerLink="/data-protection">Data protection</a>
        </div>
    </div>
    <!-- Forgot-password form container -->

    <!-- Div to center the main container -->
    <div></div>

</div>