<div class="dialogMainContainer">
    <div class="topContainerErrorMessage">
        <p>Data Size is to big or Data Format is wrong!</p>

        <div class="middleContainerErrorMessage">
            <p style="font-weight: bolder;">Note:</p>
            <p>Uploaded Data must be lower then 500 KB.</p>
            <p>Uploaded Data may only the following formats: .jpg, .png, .pdf.</p>
        </div>
    </div>

    <div class="btnContainer">
        <button mat-dialog-close>OK</button>
    </div>
</div>