<div class="messageMainContainer">
    <img class="profileImg" src="assets/img/avatar1.svg">

    <div class="messageChildContainer">
        <div class="containerUserNameAndTime">
            <p class="userName">Tom</p>
            <p class="time">13:53 Uhr</p>
        </div>

        <span class="messageText">Hallo this is a test</span>

        <div class="containerAmountOfAnswers">
            <p class="answers">2 Answers</p>
            <p class="lastAnswer">Last Answer 14:17</p>
        </div>
    </div>
</div>


<div class="containerEmojis d-none">
    <img class="completeEmoji" src="assets/img/icons/completeEmoji.svg">
    <img class="handsUpEmoji" src="assets/img/icons/handsUpEmoji.svg">
    <div class="containerAddEmojiIcon">
        <img class="addEmojiIcon" src="assets/img/icons/addEmojiIcon.svg">
    </div>
    <div class="containerAnswerOnThreadIcon">
        <img class="answerOnThreadIcon" src="assets/img/icons/answerOnThreadIcon.svg">
    </div>
</div>


<!-------------------------------- Only Placeholder -------------------------------->
<div class="messageMainContainer">
    <img class="profileImg" src="assets/img/avatar1.svg">

    <div class="messageChildContainer">
        <div class="containerUserNameAndTime">
            <p class="userName">Tom</p>
            <p class="time">13:53 Uhr</p>
        </div>

        <span class="messageText">Hallo this is a test</span>

        <div class="containerAmountOfAnswers">
            <p class="answers">2 Answers</p>
            <p class="lastAnswer">Last Answer 14:17</p>
        </div>
    </div>
</div>


<div class="containerEmojis d-none">
    <img class="completeEmoji" src="assets/img/icons/completeEmoji.svg">
    <img class="handsUpEmoji" src="assets/img/icons/handsUpEmoji.svg">
    <div class="containerAddEmojiIcon">
        <img class="addEmojiIcon" src="assets/img/icons/addEmojiIcon.svg">
    </div>
    <div class="containerAnswerOnThreadIcon">
        <img class="answerOnThreadIcon" src="assets/img/icons/answerOnThreadIcon.svg">
    </div>
</div>
<!-------------------------------- Only Placeholder -------------------------------->