<div class="signUpContent">
    <div class="mainLogoContainer">
        <img class="mainLogo" src="assets/img/logo_animation.svg">
    </div>

    <!-- Sign-up form container -->
    <div class="signupContainer" *ngIf="!chooseAvatar">
        <form [formGroup]="signUpForm">
            <div class="loginHeadline">
                <div class="goBackIcon" routerLink="/login" title="Return to login"></div>
                <h1>Create account</h1>
            </div>

            <span class="formHeaderText">With your name and email address, you've created your new DABubble
                account.</span>
            <div class="inputContainer">
                <img class="userImg" src="assets/img/icons/user_icon.svg" alt="User icon">
                <input type="text" placeholder="Firsname and Lastname" formControlName="displayName"
                    (blur)="markAllAsTouched(signUpForm)">
                <div *ngIf="signUpForm.get('displayName')?.hasError('fullNameValidator') && hasUserInteracted"
                    class="notification warning">
                    Firstname and Lastname are required.
                </div>
            </div>

            <div class="inputContainer">
                <img class="mailImg" src="assets/img/icons/mail_icon.svg" alt="Email icon">
                <input type="email" placeholder="examplename@email.com" formControlName="email"
                    (blur)="markAllAsTouched(signUpForm)">
                <div *ngIf="signUpForm.get('email')?.hasError('required') && hasUserInteracted"
                    class="notification warning">
                    Email is required.
                </div>
                <div *ngIf="signUpForm.get('email')?.hasError('email')" class="notification warning">
                    Please include an '@' and a domain (e.g., '.com') in the email address.
                </div>
            </div>

            <div class="inputContainer">
                <img class="passwordImg" src="assets/img/icons/lock_icon.svg" alt="Lock icon">
                <input type="password" placeholder="Password" formControlName="password"
                    (blur)="markAllAsTouched(signUpForm)">
                <div *ngIf="signUpForm.get('password')?.hasError('required') && hasUserInteracted"
                    class="notification warning">
                    Password is required.
                </div>
            </div>

            <div class="inputContainer">
                <img class="passwordImg" src="assets/img/icons/lock_icon.svg" alt="Lock icon">
                <input type="password" placeholder="Confirm Password" formControlName="passwordConfirm"
                    (blur)="markAllAsTouched(signUpForm)">
                <div *ngIf="signUpForm.get('passwordConfirm')?.hasError('required') && hasUserInteracted"
                    class="notification warning">
                    Confirm Password is required.
                </div>
                <div *ngIf="signUpForm.get('passwordConfirm')?.hasError('passwordMismatch')"
                    class="notification warning">
                    Passwords do not match.
                </div>
            </div>


            <label class="checkboxContent">
                <input type="checkbox" [formControl]="checked">
                <span class="checkmark"></span>
                I agree to the <a routerLink="/data-protection">data protection</a>.
            </label>
            <div class="notification warning" *ngIf="signUpForm.hasError('passwordsMismatch')">Passwords do not match.
            </div>
            <button type="button" class="nextBtn" (click)="onNextClick()" [disabled]="!signUpForm.valid">Next</button>
        </form>
        <div class="loginContainerLinks hideContentMobile">
            <a class="loginLinks" routerLink="/imprint">Imprint</a>
            <a class="loginLinks" routerLink="/data-protection">Data protection</a>
        </div>
    </div>
    <!-- Sign-up form container -->

    <div class="avatarContainer" *ngIf="chooseAvatar">
        <div class="goBackIcon" (click)="onbackClick()" title="Return to enter data"></div>
        <h1>Choose your avatar</h1>
        <img class="selectedAvatar" [src]="selectedAvatarURL || defaultAvatar" alt="User Avatar">
        <span class="userName">{{ signUpForm.get('displayName')?.value }}</span>
        <span class="chooseAvatarText">Choose your avatar...</span>
        <div class="avatarSelectionContainer">
            <div *ngFor="let avatarUrl of avatarUrls" class="avatarSelection">
                <img [src]="avatarUrl" (click)="selectAvatar(avatarUrl)" alt="Avatar">
            </div>
        </div>
        <div class="uploadFoto">
            <span>Use your own image</span>
            <label class="uploadButton" for="input">Upload foto
                <!-- <button type="button">Upload foto</button> -->
                <input (change)="chooseFiletoUpload($event)" id="input" type="file" hidden />
            </label>
        </div>
        <div *ngIf="userCreated" class="notification success">
            Verification email sent. Please check your email inbox.
        </div>
        <div *ngIf="userExists" class="notification warning">
            User already exists. Please try another email.
        </div>
        <button class="btnNext" (click)="onSubmit()" [disabled]="!selectedAvatarURL">Next</button>
    </div>

        <!-- Div to center the main container -->
        <div></div>
</div>