<div class="imprintAndDataProtectionContainer">
  <div class="daBubbleIcon">
    <img src="assets/img/logo_animation.svg" />
  </div>

  <div class="containerImprint">
    <div routerLink="/login" class="containerArrowBack">
      <img src="assets/img/icons/arrow_back.svg" />
    </div>
    <h1>Imprint</h1>

    <h2>Entries referred to &sect; 5 TMG</h2>
    <p>
      Georgios Koinaris<br />
      Dr. Emil-Hasel Siedlung 8<br />
      88131 Bodolz
    </p>

    <h2>Contact</h2>
    <p>E-Mail: tom.petri7@gmail.com</p>

    <p>
      Source:
      <a
        href="https://www.e-recht24.de/impressum-generator.html"
        target="_blank"
        >https://www.e-recht24.de/impressum-generator.html
      </a>
    </p>
  </div>
</div>
