<!-- Login animation -->
<div class="animationContainer" *ngIf="containerVisible" [style.background]="background">
  <div [@logoAnimationDesktop]="!isMobile ? logoState : undefined"
    [@logoAnimationMobile]="isMobile ? logoState : undefined" [style.background-color]="logoBackgroundColor"
    class="animationLogoName">
    <img src="assets/img/animationLogo.svg" alt="App-Logo" class="animationLogo"
      [style.background-color]="logoBackgroundColor" />
    <div [@nameAnimation]="nameState" class="animationNameContainer">
      <span class="animationAppName">DABubble</span>
    </div>
  </div>
</div>
<!-- Login animation -->

<div class="loginContent">
  <div class="loginHeader">
    <img src="assets/img/logo_animation.svg" />
    <div class="signUpContainer hideContentMobile">
      <p>New at DABubble?</p>
      <a class="loginLinks" routerLink="/sign-up">Sign Up</a>
    </div>
  </div>

  <!-- Login form container -->
  <div class="loginContainer">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Log in</h1>
      <span class="formHeaderText">We recommend you use the same email you use at work.</span>

      <div class="inputContainer">
        <img class="mailImg" src="assets/img/icons/mail_icon.svg" alt="Email icon" />
        <input type="email" placeholder="examplename@email.com" formControlName="email"
          (blur)="markAllAsTouched(loginForm)" />
        <div *ngIf="
            loginForm.get('email')?.hasError('required') && hasUserInteracted
          " class="notification warning">
          Email is required.
        </div>
        <div *ngIf="loginForm.get('email')?.hasError('email') && hasUserInteracted" class="notification warning">
          Please include an '@' and a domain (e.g., '.com') in the email
          address.
        </div>
      </div>

      <div class="inputContainer">
        <img class="passwordImg" src="assets/img/icons/lock_icon.svg" alt="Lock icon" />
        <input type="password" placeholder="Password" formControlName="password" (blur)="markAllAsTouched(loginForm)" />
        <div *ngIf="
            loginForm.get('password')?.hasError('required') && hasUserInteracted
          " class="notification warning">
          Password is required.
        </div>
      </div>

      <a class="forgotPasswordLink" routerLink="/forgot-password">Forgot password?</a>
      <div class="alternatively">
        <div></div>
        <span>Alternatively</span>
        <div></div>
      </div>
      <button class="googleLoginBtn" type="button" (click)="signInWithGoogle()">
        Login with Google
      </button>
      <div *ngIf="loginFailed" class="notification warning">
        Could noch login. Please check your data and try again.
      </div>
      <div class="loginBottomContainer">
        <button class="loginBtn loginButtonsMobile" type="submit" [disabled]="!loginForm.valid">
          Login
        </button>
        <button class="guestLoginbtn loginButtonsMobiles" type="button" (click)="onGuestLogin()">
          Guest-Login
        </button>
      </div>
    </form>

    <div class="loginContainerLinks hideContentMobile">
      <a class="loginLinks" routerLink="/imprint">Imprint</a>
      <a class="loginLinks" routerLink="/data-protection">Data protection</a>
    </div>

    <div class="signUpContainerMobile">
      <p>New at DABubble?</p>
      <a class="loginLinks" routerLink="/sign-up">Sign Up</a>
    </div>
  </div>
  <!-- Login form container -->

  <!-- Div to center the main container -->
  <div></div>
</div>