<div class="threadMainContainer">
  <div class="threadHeader">
    <div class="textInThreadHeader">
      <p class="threadText">Thread</p>
      <div *ngIf="threadService.currentChannelName" class="channelNameContainer">
        <img src="assets/img/icons/hashtag.svg" />
        <p class="channelName">{{ threadService.currentChannelName }}</p>
      </div>
      <div>
        <p *ngIf="!threadService.currentChannelName"></p>
      </div>
    </div>

    <div (click)="threadService.closeThreadService()" class="containerCloseIcon">
      <img src="assets/img/icons/closeIcon.svg" title="Close Thread" />
    </div>
  </div>

  <!---------------------------------Messages either from channel or direct-message -------------------------->
  <div #messagesContainer class="scrollableContainer">
    <div *ngIf="selectedMessage" class="threadMessageMainContainer">
      <div class="messageChildContainer">
        <div class="containerUserNameAndTime">
          <img class="userImg" [src]="selectedMessage.senderImage" (error)="retryLoadImage(selectedMessage)" />
          <p class="userName">{{ selectedMessage.senderName }}</p>
          <p class="time">
            {{ this.messageService.formatTime(selectedMessage.timestamp) }}
          </p>
        </div>
        <span class="messageText">{{ selectedMessage.content }}</span>
      </div>
    </div>
    <!---------------------------------Messages either from channel or direct-message -------------------------->

    <!------------------------ Answers to the messages from channels or direct-messages ----------------------->
    <div class="answersInThreadContainer">
      <p>{{ totalAnswers }} Answers</p>
      <hr />
      <div *ngFor="let group of groupedMessages">
        <div class="messageDate">{{ group.date }}</div>
        <div *ngFor="let threadMessage of group.messages" class="messageChildContainer">
          <div class="containerUserNameAndTime">
            <img class="userImg" [src]="threadMessage.senderImage" alt="{{ threadMessage.senderName }}'s profile image"
              (error)="retryLoadThreadMessageSenderImage(threadMessage)" />
            <p class="userName">{{ threadMessage.senderName }}</p>
            <p class="time">
              {{ messageService.formatTime(threadMessage.timestamp) }}
            </p>
          </div>
          <span class="messageText">{{ threadMessage.content }}</span>


          <!-- Loop for all attached files in storage -->
          <div *ngFor="let file of threadMessage.attachedFiles;  let i = index" class="attachedFile">
            <!-- Show attached images -->
            <ng-container *ngIf="file.type === 'image'">
              <img [src]="file.url" class="uploadedImageInMessage" (click)="openDetailViewForAttachedFile(file.url)" />
              <img matTooltipPosition="above" matTooltip="Delete Data" *ngIf="threadMessage.senderId === currentUserId"
               (click)="deleteFile(threadMessage, file, i)"
                class="deleteFileInMessage" src="assets/img/icons/closeIcon.svg" />
            </ng-container>

            <!-- Show attached files (like PDF) -->
            <ng-container *ngIf="file.type === 'data'">
              <img [src]="file.url" class="uploadedImageInMessage" (click)="openDetailViewForAttachedFile(file.url)" />
              <img matTooltipPosition="above" matTooltip="Delete Data" (click)="deleteFile(threadMessage, file, i)"
                class="deleteFileInMessage" src="assets/img/icons/closeIcon.svg" />
            </ng-container>
          </div>
          <!-- Loop for all attached files in storage -->

        </div>
      </div>

    </div>
    <!------------------------ Answers to the messages from channels or direct-messages --------------------- -->

    <!-------------------------------------------------- Textfield begins here  -------------------------------------------------->
    <quill-editor #threadQuill class="quill-editor-textarea" [(ngModel)]="messageContent"
      (onEditorCreated)="setFocus($event)" placeholder="Answer..." [modules]="this.quillService.quillModules">
      <div quill-editor-toolbar>
        <span *ngIf="messageContainerError" class="messageContainerError">Please enter a message or attach files.</span>
        <!--------------------------------------- Custom created Container --------------------------------------->
        <div class="mainContainerUploadedDatas">
          <!--------------------------------------- Displays uploaded Images --------------------------------------->
          <div *ngFor="
              let uploadedImage of threadService.uploadedImages;
              let i = index
            " class="containerUploadedImages">
            <img (click)="openDetailViewFromUploadedImage(uploadedImage)" class="uploadedImage"
              [src]="uploadedImage ? uploadedImage : null" />
            <img matTooltipPosition="above" matTooltip="Delete Data" (click)="
                this.threadService.deleteUploadedDataService(uploadedImage, i)
              " class="closeIcon" src="assets/img/icons/closeIcon.svg" />
          </div>
          <!--------------------------------------- Displays uploaded Images --------------------------------------->

          <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
          <div *ngFor="
              let uploadedData of threadService.uploadedDatas;
              let i = index
            " class="containerUploadedDatas">
            <iframe class="uploadedData" [src]="uploadedData ? uploadedData : null"></iframe>
            <img matTooltipPosition="above" matTooltip="Delete Data" (click)="
                this.threadService.deleteUploadedDataService(uploadedData, i)
              " class="closeIcon" src="assets/img/icons/closeIcon.svg" />
          </div>
          <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
        </div>

        <div class="containerIcons">
          <label for="threadInput" class="containerAddIcon">
            <img src="assets/img/icons/add.svg" title="Add file" />
            <input (change)="threadService.chooseThreadFileSevice($event)" id="threadInput" type="file" hidden />
          </label>

          <hr class="verticalLine" />

          <div class="containerSmileyIcon">
            <img class="smileyIcon" src="assets/img/icons/smiley.svg" (click)="toggleEmojiPicker()"
              title="Show Emojis" />
          </div>

          <div class="containerAtIcon">
            <img class="atIcon" src="assets/img/icons/@Icon.svg" (click)="
                this.quillService.triggerAtSymbol(this.threadQuillInstance)
              " title="Add user" />
          </div>
          <img class="sendBtn" src="assets/img/icons/sendBtn.svg" (click)="sendMessage()" title="Send message" />
        </div>
        <!--------------------------------------- Custom created Container --------------------------------------->
      </div>
    </quill-editor>
    <!-------------------------------------------------- Textfield begins here  -------------------------------------------------->
  </div>
</div>