<div class="chatHistoryMainContainer">
  <div class="chatHistoryHeader">
    <div (click)="openDialogToEditChannel()" class="channelName">
      <img src="assets/img/icons/hashtag.svg" />
      <p>{{ channelService.channel.channelName }}</p>
      <img src="assets/img/icons/arrow_down.svg" />
    </div>

    <div class="containerUserInChatHistory">
      <div
        (click)="openDialogToShowMembersInChannel()"
        class="childContainerUserInChatHistory"
      >
        <img
          *ngFor="let user of channelService.channel.users?.slice(0, 3)"
          class="user"
          [src]="user.photoURL"
          (error)="retryLoadImage(user)"
        />
        <p class="amountOfUserInChannel">
          {{ channelService.channel.users?.length }}
        </p>
      </div>

      <div
        (click)="openDialogToAddMembersToChannel()"
        class="containerIconAddUser"
      >
        <img
          class="iconAddUser"
          src="assets/img/icons/addUser.svg"
          title="Add user"
        />
      </div>
    </div>
  </div>

  <!-- Message container -->
  <div #messagesContainer class="messageMainContainer scrollableContainer">
    <div *ngFor="let group of groupedMessages" class="messageContainer">
      <div class="date">
        <hr />
        <span>{{ group.date }}</span>
        <hr />
      </div>
      <div
        *ngFor="let message of group.messages"
        class="displayMessagesContainer"
        (mouseenter)="onMessageHover(message)"
        (mouseleave)="message.id ? handleMouseLeave(message.id) : null"
        [id]="message.id"
        #messageElement
      >
        <div class="messageChildContainer">
          <img
            class="userImg"
            [src]="message.senderImage"
            (error)="retryLoadSenderImage(message)"
          />
          <div class="containerUserNameAndTime">
            <div class="nameTimeContainer">
              <p>{{ message.senderName }}</p>
              <p>{{ this.messageService.formatTime(message.timestamp) }}</p>
            </div>
            <span
              *ngIf="isEditing !== message.id && message.content"
              class="message"
              [ngClass]="{
                senderMessage:
                  message.senderId === authService.currentUser.value?.uid
              }"
              >{{ message.content }}</span
            >

            <!-- Loop for all attached files in storage -->
            <div
              *ngFor="let file of message.attachedFiles; let i = index"
              class="attachedFile"
            >
              <!-- Show attached images -->
              <ng-container *ngIf="file.type === 'image'">
                <img
                  [src]="file.url"
                  class="uploadedImageInMessage"
                  (click)="openDetailViewForAttachedFile(file.url)"
                />
                <img
                  matTooltipPosition="above"
                  matTooltip="Delete Data"
                  *ngIf="message.senderId === currentUserId"
                  (click)="deleteFile(message, file, i)"
                  class="deleteFileInMessage"
                  src="assets/img/icons/closeIcon.svg"
                />
              </ng-container>

              <!-- Show attached files (like PDF) -->
              <ng-container *ngIf="file.type === 'data'">
                <img
                  [src]="file.url"
                  class="uploadedImageInMessage"
                  (click)="openDetailViewForAttachedFile(file.url)"
                />
                <img
                  matTooltipPosition="above"
                  matTooltip="Delete Data"
                  *ngIf="message.senderId === currentUserId"
                  (click)="deleteFile(message, file, i)"
                  class="deleteFileInMessage"
                  src="assets/img/icons/closeIcon.svg"
                />
              </ng-container>
            </div>
            <!-- Loop for all attached files in storage -->

            <div
              *ngIf="
                currentlyEditingMessageId === message.id &&
                isEditing === message.id
              "
              class="editMessageContainer"
            >
              <input [(ngModel)]="updatedMessageContent" />
              <img
                src="assets/img/icons/closeIcon.svg"
                (click)="runChannelMessage(message.id)"
                title="delete message"
              />
              <img
                class="sendBtn"
                src="assets/img/icons/sendBtn.svg"
                (click)="saveEditedMessage(message)"
                title="Send message"
              />
            </div>
          </div>
        </div>

        <!-- Emoji container -->
        <div class="containerEmojis d-none">
          <img
            *ngIf="message.id"
            (click)="onEmojiClick(message.id, 'complete')"
            src="assets/img/icons/completeEmoji.svg"
          />
          <img
            *ngIf="message.id"
            (click)="onEmojiClick(message.id, 'handsUp')"
            src="assets/img/icons/handsUpEmoji.svg"
          />
          <div
            *ngIf="message.id"
            #popUp
            (click)="openEmojiPopUp(message.id)"
            class="containerAddEmojiIcon"
          >
            <img
              class="addEmojiIcon"
              src="assets/img/icons/addEmojiIcon.svg"
              title="Show Emojis"
            />
          </div>
          <div
            (click)="
              message.id &&
                threadService.openChannelThread(
                  message.id,
                  channelId,
                  channelService.channel.channelName
                )
            "
            class="containerAnswerOnThreadIcon"
          >
            <img
              class="answerOnThreadIcon"
              src="assets/img/icons/answerOnThreadIcon.svg"
              title="Open Thread"
            />
          </div>
          <div
            *ngIf="showEditMessageButton"
            (click)="openPopUpEditMessage(message)"
            class="containerThreePointsIcon"
          >
            <img
              src="assets/img/icons/threePointsIcon.svg"
              title="Edit message"
            />
          </div>

          <div *ngIf="selectedMessageId === message.id" class="containerPopUp">
            <img
              *ngIf="message.id"
              src="assets/img/icons/completeEmoji.svg"
              (click)="onEmojiClick(message.id, 'complete')"
            />
            <img
              *ngIf="message.id"
              src="assets/img/icons/handsUpEmoji.svg"
              (click)="onEmojiClick(message.id, 'handsUp')"
            />
            <img
              *ngIf="message.id"
              src="assets/img/icons/rocket.svg"
              (click)="onEmojiClick(message.id, 'rocket')"
            />
            <img
              *ngIf="message.id"
              src="assets/img/icons/nerdSmiley.svg"
              (click)="onEmojiClick(message.id, 'nerdSmiley')"
            />
          </div>
        </div>
        <!-- Emoji container -->

        <!-- Pop Up to Edit Message -->
        <div
          *ngIf="showEditMenu && currentlyEditingMessageId === message.id"
          class="popUpEditMessage"
          (mouseover)="stopEvent($event)"
          (click)="editMessage(message.id, message.content)"
        >
          <p>Edit message</p>
        </div>
        <!-- Pop Up to Edit Message -->

        <!-- Emojis to react on Messages -->
        <div class="messageDisplayiconContainer">
          <div *ngIf="message.emojis?.complete" class="messageIcons">
            <img src="assets/img/icons/completeEmoji.svg" />
            <p>{{ message.emojis?.complete }}</p>
          </div>

          <div *ngIf="message.emojis?.handsUp" class="messageIcons">
            <img src="assets/img/icons/handsUpEmoji.svg" />
            <p>{{ message.emojis?.handsUp }}</p>
          </div>

          <div *ngIf="message.emojis?.rocket" class="messageIcons">
            <img src="assets/img/icons/rocket.svg" />
            <p>{{ message.emojis?.rocket }}</p>
          </div>

          <div *ngIf="message.emojis?.nerdSmiley" class="messageIcons">
            <img src="assets/img/icons/nerdSmiley.svg" />
            <p>{{ message.emojis?.nerdSmiley }}</p>
          </div>
        </div>
        <!-- Emojis to react on Messages -->
      </div>
    </div>
  </div>
  <!-- Message container -->

  <!-- <app-message></app-message> -->

  <!-------------------------------------------------- Textfield begins here  -------------------------------------------------->
  <quill-editor
    #channelQuill
    class="quill-editor-textarea"
    [(ngModel)]="messageContent"
    (onEditorCreated)="setFocus($event)"
    placeholder="Message to #{{ channelService.channel.channelName }}"
    [modules]="this.quillService.quillModules"
  >
    <div quill-editor-toolbar>
      <span *ngIf="messageContainerError" class="messageContainerError"
        >Please enter a message or attach files.</span
      >
      <!--------------------------------------- Custom created Container --------------------------------------->
      <div class="mainContainerUploadedDatas">
        <!--------------------------------------- Displays uploaded Images --------------------------------------->
        <div
          *ngFor="
            let uploadedImage of storageService.uploadedImages;
            let i = index
          "
          class="containerUploadedImages"
        >
          <img
            (click)="openDetailViewFromUploadedImage(uploadedImage)"
            class="uploadedImage"
            [src]="uploadedImage ? uploadedImage : null"
          />
          <img
            matTooltipPosition="above"
            matTooltip="Delete Data"
            (click)="
              this.storageService.deleteUploadedDataService(uploadedImage, i)
            "
            class="closeIcon"
            src="assets/img/icons/closeIcon.svg"
          />
        </div>
        <!--------------------------------------- Displays uploaded Images --------------------------------------->

        <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
        <div
          *ngFor="
            let uploadedData of storageService.uploadedDatas;
            let i = index
          "
          class="containerUploadedDatas"
        >
          <iframe
            class="uploadedData"
            [src]="uploadedData ? uploadedData : null"
          ></iframe>
          <img
            matTooltipPosition="above"
            matTooltip="Delete Data"
            (click)="
              this.storageService.deleteUploadedDataService(uploadedData, i)
            "
            class="closeIcon"
            src="assets/img/icons/closeIcon.svg"
          />
        </div>
        <!--------------------------------------- Displays uploaded Datas, like PDF --------------------------------------->
      </div>

      <div class="containerIcons">
        <label for="input" class="containerAddIcon">
          <img src="assets/img/icons/add.svg" title="Add file" />
          <input
            (change)="
              storageService.chooseFileSevice($event); checkUploadedFiles()
            "
            id="input"
            type="file"
            hidden
          />
        </label>

        <hr class="verticalLine" />

        <div class="containerSmileyIcon">
          <img
            class="smileyIcon"
            src="assets/img/icons/smiley.svg"
            (click)="toggleEmojiPicker()"
            title="Show Emojis"
          />
        </div>

        <div class="containerAtIcon">
          <img
            class="atIcon"
            src="assets/img/icons/@Icon.svg"
            (click)="
              this.quillService.triggerAtSymbol(this.channelQuillInstance)
            "
            title="Add user"
          />
        </div>

        <img
          class="sendBtn"
          src="assets/img/icons/sendBtn.svg"
          (click)="sendMessage()"
          title="Send message"
        />
      </div>
      <!--------------------------------------- Custom created Container --------------------------------------->
    </div>
  </quill-editor>
</div>
<!-------------------------------------------------- Textfield begins here  -------------------------------------------------->
