<div class="resetPasswordContent">
    <div class="mainLogoContainer">
        <img class="mainLogo" src="assets/img/logo_animation.svg">
    </div>

    <!-- Reset-password form container -->
    <div class="forgotPasswordContainer">
        <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
            <div class="loginHeadline">
                <div class="goBackIcon" routerLink="/forgot-password" title="Return to forgot-password"></div>
                <h1>Reset password</h1>
            </div>

            <div class="inputContainer">
                <input type="password" placeholder="New password" formControlName="password">
                <div *ngIf="newPasswordForm.get('password')?.errors && newPasswordForm.get('password')?.touched">
                    <div *ngIf="newPasswordForm.get('password')?.errors?.['required']" class="notification warning">
                        Password is required.
                    </div>
                </div>
            </div>
            <div class="inputContainer">
                <input type="password" placeholder="Confirm new password" formControlName="confirmPassword">
                <div
                    *ngIf="newPasswordForm.get('confirmPassword')?.errors && newPasswordForm.get('confirmPassword')?.touched">
                    <div *ngIf="newPasswordForm.get('confirmPassword')?.errors?.['required']"
                        class="notification warning">
                        Password is required.
                    </div>
                </div>
            </div>

            <div class="notification warning" *ngIf="newPasswordForm.get('confirmPassword')?.errors?.['notMatching']">
                Passwords do not match!
            </div>
            <div class="notification success" *ngIf="passwordResetSuccess">
                Password reset successfully! Redirecting to login...
            </div>

            <button class="changePassword" type="submit" [disabled]="!newPasswordForm.valid">Change password</button>
        </form>
    </div>
    <!-- Reset-password form container -->

        <!-- Div to center the main container -->
        <div></div>

</div>
